<form>
    <div class="agregar">
      <div class="agregar_contenedor" >
        <select  class="agregar_tipo" name="selectForm" [(ngModel)] = "valueSelect">
          <option value="ing" selected>+</option>
          <option value="egr">-</option>
        </select>
        <input type="text" class="agregar_descripcion" [(ngModel)] = "inputDescripcion" placeholder="Agregar" />
        <input type="number" class="agregar_valor" [(ngModel)] = "inputValor" placeholder="Valor" />
        <button class="agregar_btn" (click)="agregarIngreso()">
          <i class="ion-ios-checkmark-outline"></i>
        </button>
      </div>
    </div>
</form>